## Atividade 1

#### Iniciar sessão Spark

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder \
    .appName("Atividade1") \
    .getOrCreate()

#### Carregar CSV

In [8]:
df = spark.read.csv("/C:/Users/Fred/mariana-dados/ETAPA 4/atividade1/clientes.csv", 
                    header=True, 
                    inferSchema=True, 
                    sep=",")  # ou sep="\t" se o arquivo usar tabs
df.show()

+----------+-----+-----+--------------+
|id_cliente| nome|idade|        cidade|
+----------+-----+-----+--------------+
|         1| João|   35|     São Paulo|
|         2|Maria|   25|Rio de Janeiro|
|         3| José|   40|      Curitiba|
|         4|  Ana|   28|     São Paulo|
|         5|Paulo|   50|Belo Horizonte|
+----------+-----+-----+--------------+

#### Selecionar as colunas nome, idade e cidade

In [9]:
colunas_selecionadas = df.select("nome", "idade", "cidade")
colunas_selecionadas.show()

+-----+-----+--------------+
| nome|idade|        cidade|
+-----+-----+--------------+
| João|   35|     São Paulo|
|Maria|   25|Rio de Janeiro|
| José|   40|      Curitiba|
|  Ana|   28|     São Paulo|
|Paulo|   50|Belo Horizonte|
+-----+-----+--------------+

#### Filtrar clientes acima de 30

In [12]:
clientes_acima_30 = colunas_selecionadas.filter(col("idade") > 30)
clientes_acima_30.show()

+-----+-----+--------------+
| nome|idade|        cidade|
+-----+-----+--------------+
| João|   35|     São Paulo|
| José|   40|      Curitiba|
|Paulo|   50|Belo Horizonte|
+-----+-----+--------------+

#### Contar clientes de São Paulo

In [13]:
contagem_sp = colunas_selecionadas.filter(col("cidade") == "São Paulo").count()
print(f"Clientes em São Paulo: {contagem_sp}")

Clientes em São Paulo: 2